
*.xml
.idea
.idea/workspace.xml
EncoHistGenerator_Seu/MAC_trail_timeDiff_new
EncoHistGenerator_Seu/ComplementMovementRecord
EncoHistData
EncoHistData_Seu
EncoHistData_Helsink
*.pyc
Main/collect_data/*
