*.xml
.idea
.idea/workspace.xml
*.pyc

EncoHistGenerator_Seu/MAC_trail_timeDiff_new
EncoHistGenerator_Seu/ComplementMovementRecord
EncoHistData
EncoHistData_Seu
EncoHistData_Helsink
EncoHistData_Shanghai/*


Main/*.tmp

*.npz
backup_all/*

Main/ML_blackhole_time/*
Main/ML_grayhole_time/*

Main/Main_TrainNNModel/logs_black_time_direct/*
Main/Main_TrainNNModel/logs_black_time_indirect/*
Main/Main_TrainNNModel/logs_gray_time_indirect/*
Main/Main_TrainNNModel/logs_gray_time_direct/*
Main/Main_TrainNNModel/anno_blackhole_grayhole_time/*

