*.xml
.idea
.idea/workspace.xml
*.pyc

EncoHistGenerator_Seu/MAC_trail_timeDiff_new
EncoHistGenerator_Seu/ComplementMovementRecord
EncoHistData
EncoHistData_Seu
EncoHistData_Helsink

Main/*.tmp
Main/logs_black
Main/logs_gray

backup_routing/*
backup_blackholescenario/*

Main/anno_blackhole_ex/anno.txt
Main/anno_grayhole/anno.txt
Main/anno_blackhole_time/anno.txt

Main/ML_blackhole_ex/model.h5
Main/ML_grayhole/model.h5

Main/logs_black_time_direct/*
Main/logs_black_time_indirect/*
Main/logs_black_combine/*

Main/ML_blackhole_time/*

Main/collect_data_grayhole/*.npz
Main/collect_data_blackhole_time/*.npz
